<div class="row">

          <div class="span9">

          <div class="span12">

          <div class="span3">
        <h2>Nate Andorsky<img src="http://m.c.lvlt.licdn.com/media/p/3/000/0d9/0f1/0b57017.jpg" style="height:100px; width:100px;"></h2>
          </div>

          <div class="span2" style="margin-top:60px;">

            <a href="#">Read a Review</a><br /><a href="#">Write a Review</a><br /><%=image_tag("4stars.png", alt: "Stars")%>

          </div>

        </div>


          <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#contact" data-toggle="tab">Contact Information</a></li>
              <li><a href="#about" data-toggle="tab">About</a></li>
              <li><a href="#pricing" data-toggle="tab">Pricing</a></li>
              <li><a href="#included" data-toggle="tab">What is Included</a></li>

              <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="contact">
                <div class="span4">

                <h4>Contact Information</h4>


           
              </div>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="about">
                <h4>Bio:</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>


                <div class="span4">

                <h4>Qualifications</h4>

                <table class="table table-bordered">

                  <tbody>

                    <tr>
                      <td>Bonded</td>
                      <td><%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
                      </td>
                    </tr>

                    <tr>
                      <td>Licensed</td>
                      <td><%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
                      </td>
                    </tr>

                    <tr>
                      <td>Insured</td>
                      <td><%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
                      </td>
                    </tr>


                    <tr>
                      <td>ScrubBud Background Checked</td>
                      <td><%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
                      </td>
                    </tr>


                    <tr>
                      <td>Insured</td>
                      <td><%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
                      </td>
                    </tr>


                    <tr>
                      <td>Years In Business</td>
                      <td>4</td>
                    </tr>



                  </tbody>

                </table>


              </div>
              </div>

              <div class="tab-pane fade" id="pricing">
                <h4>Pricing</h4>
           <table class="table">
              <thead>
                <tr>
                  <th>Frequency</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Weekly</td>
                  <td>$110</td>
                </tr>
                <tr>
                  <td>Every 2 Weeks</td>
                  <td>$125</td>
                </tr>
                <tr>
                  <td>Every 4 Weeks</td>
                  <td>$132</td>
                </tr>
                <tr>
                  <td>One Time</td>
                  <td>$149</td>
                </tr>
              </tbody>
            </table>

              </div>
              <div class="tab-pane fade" id="included">
                <h4>Whats Inlcuded</h4>

  <table class="table table-striped">
    <thead>     
      <tr>
        <th><br />Kitchen</th>
        <th>One-Time Cleaning</th>
        <th>Subscription Services</th>
        <th>Move Out/Move In</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cobweb Removal</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Ceiling Fans</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Blind and Window Ledges</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Outside of Kitchen Cabinets</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Stove Top & Stove Fan</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean the Inside and Outside of Micrwoave</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Countertops</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Clean Outside of Large Electronic Appliances</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

            
      <tr>
        <td>Scrub and Clean Sinks</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

            
      <tr>
        <td>Polish all Stainless Steel Surfaces</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

            
      <tr>
        <td>Dust & Wipe Doors</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

            
      <tr>
        <td>Empty Trashcans</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

            
      <tr>
        <td>Dust and Wipe Laundry Area</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

                      
      <tr>
        <td>Vacuum Kitchen & Laundry Floors & Rugs</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Baseboard & Corners Detail Cleaning</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Mop Kitchen & Laundry Floors</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Clean Entrance Glass Door</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Remove All Items From Cabinets, Clean, <br />Replace Shelf Paper and Replace Items</td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>     
        </td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>         
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>   
        </td>
      </tr>
      
      <tr>
        <td>Clean Inside of the Fridge</td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>    
        </td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>          
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>   
        </td>
      </tr>
      
      <tr>
        <td>Clean Inside of the Oven</td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>    
        </td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>          
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>   
        </td>
      </tr>
      
      <tr>
        <td>Clean Inside of the Windows</td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>    
        </td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>          
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>   
        </td>
      </tr>


      
    </tbody>
    

    <thead>
      <tr>
        <th><br /><br /><br /><br />Bathrooms</th>
        <th>One-Time Cleaning</th>
        <th>Subscription Services</th>
        <th>Move Out/Move In</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Clean & Sanitize Counter and Sink</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      <tr>
        <td>Clean & Sanitize Shower and Tub</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean & Sanitize Toilet</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean & Sanitize All Countertops</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

    
      <tr>
        <td>Shine Mirrors and Chrome</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

    
      <tr>
        <td>Vacuum and Sanitize Floor</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
    
      <tr>
        <td>Dust Blinds, Window Ledges & Furniture in Bathrooms</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

    
      <tr>
        <td>Spot Clean Cabinet Exteriors</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      
      <tr>
        <td>Empty All Trash Cans</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Remove All Items From Cabinets, Clean, Replace Shelf Paper<br />and Replace Items</td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>   
        </td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>     
        </td>
      </tr>
      
      <tr>
        <td>Clean Inside of the Windows</td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>    
        </td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>          
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>     
        </td>
      </tr>

    </tbody>
  
  
    <thead>
      <tr>
        <th><br /><br /><br /><br />Bedrooms and Living Spaces</th>
        <th>One-Time Cleaning</th>
        <th>Subscription Services</th>
        <th>Move Out/Move In</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cobweb Removal</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Dust Blinds and Window Ledges/Base</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Make Beds & Change Bed Linens (when left on top of bed)</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Dust Furniture & Decorations</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>

      <tr>
        <td>Clean Glass Table Tops</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>


      <tr>
        <td>Vacuum All Carpet, Small Rugs & Stairs</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      <tr>
        <td>Baseboard Detail Cleaning</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      <tr>
        <td>Dust Ceiling Fans within Reach</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      <tr>
        <td>Dust Window Blinds</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>
      <tr>
        <td>Empty trash</td>
        <td>
        <%=image_tag("checkmark.png", alt: "chcekmark", style: "width:28px; height:28px;")%>
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>       
        </td>
      </tr>


      <tr>
        <td>Remove All Items From Shelves, Clean<br />and Replace Items</td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>     
        </td>
        <td>
        <%=image_tag("xmark.png", alt: "xmark", style: "width:28px; height:28px;")%>       
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>     
        </td>
      </tr>
      
      <tr>
        <td>Clean Inside of the Windows</td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>    
        </td>
        <td>
        <a class="btn btn-warning disabled">OPTIONAL</a>          
        </td>
        <td>
        <%=image_tag("checkmark.png", alt: "checkmark", style: "width:28px; height:28px;")%>     
        </td>
      </tr>

    </tbody>

    </table>



              </div>
              <div class="tab-pane fade" id="reviews">
            

                <h4>Cleaner Review Summary</h4>


           <div class="span8">
           <table class="table">
              <tbody>
                <tr>
                  <td>Arrive on timed</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Did a thorough job</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Were polite</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Respectful towards me and my items</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>



              </tbody>
            </table>

          </div>

          <div class="span8">

            <div class="span8" style="border-top:1px solid black;">
          <h4>Bobtwitter<%=image_tag("4stars.png", alt: "Stars")%></h4>
            
          </div>

        <div class="span3">
          <p>review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here </p>
        </div>


        <div class="span4">

           <table class="table">
              <tbody>
                <tr>
                  <td>Arrive on timed</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Did a thorough job</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Were polite</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Respectful towards me and my items</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>



              </tbody>
            </table>


        </div>


        <div class="span5">
          <span><img src="http://dccollegecleaners.com/img/checkmark.png" style="width:24px;">Yes I would recommend this cleaner</span>
          

        </div>

          </div>



          <div class="span8">

            <div class="span8" style="border-top:1px solid black;">
          <h4>John2434<%=image_tag("4stars.png", alt: "Stars")%></h4>
            
          </div>

        <div class="span3">
          <p>review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here </p>
        </div>


        <div class="span4">

           <table class="table">
              <tbody>
                <tr>
                  <td>Arrive on timed</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Did a thorough job</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Were polite</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Respectful towards me and my items</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>



              </tbody>
            </table>


        </div>


        <div class="span5">
          <span><img src="http://dccollegecleaners.com/img/checkmark.png" style="width:24px;">Yes I would recommend this cleaner</span>
          

        </div>

          </div>


          <div class="span8">
            <div class="span8" style="border-top:1px solid black;">
          <h4>Sciuto<%=image_tag("4stars.png", alt: "Stars")%></h4>
            
          </div>

        <div class="span3">
          <p>review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here review here </p>
        </div>


        <div class="span4">

           <table class="table">
              <tbody>
                <tr>
                  <td>Arrive on timed</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Did a thorough job</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Were polite</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>

                <tr>
                  <td>Respectful towards me and my items</td>
                  <td><%=image_tag("4stars.png", alt: "Stars")%></td>
                </tr>



              </tbody>
            </table>


        </div>


        <div class="span5">
          <span><img src="http://dccollegecleaners.com/img/checkmark.png" style="width:24px;">Yes I would recommend this cleaner</span>
          

        </div>

          </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>