<h2>Cleaner Profiles</h2>

<div class="container">
	<div class="span6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>1</td>
					<td><%= link_to 'Spotless Cleaning Services', scs_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>2</td>
					<td><%= link_to 'Sparkle Cleaning Services', sparklingcs_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>3</td>
					<td><%= link_to 'Real Touch Maids', realtouchmaids_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>4</td>
					<td><%= link_to 'First Green Clean', firstgreenclean_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>5</td>
					<td><%= link_to 'Clean R Us', cleanrus_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>6</td>
					<td><%= link_to 'Skilled Maids', skilledmaids_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>7</td>
					<td><%= link_to 'Round About Cleaning Service', roundabout_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>8</td>
					<td><%= link_to 'None', firstgreenclean_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>9</td>
					<td><%= link_to 'None', firstgreenclean_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
				<tr>
					<td>10</td>
					<td><%= link_to 'None', firstgreenclean_path %></td>
					<td><span class="label label-warning">Incomplete</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>