<!DOCTYPE html>
<html>
<head>
  <title>Creative Science Labs</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">
	  $(document).ready(function () {
	    $("[rel=tooltip]").tooltip();
	  });
	</script>
	<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<style type="text/css">
.span12 {
	width: 810px;
	text-align: center;
	margin-top: 20px;
}

.span8 {
	text-align: center;
}

.commit {
	width: 160px;
	float: left;
}

.circle {
	padding: 20px;
}

.social {
	float: left;
	width:140px;
}

.social img {
	width: 80px;
}

</style>
</head>
<body>
  <div class="container">

 <!-- Modal Popup on Load -->
 <div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
  <div style="float:right;"
      <button class="btn" data-dismiss="modal" aria-hidden="true">Click Here to continue to Giving Tuesday</button>
    </div>
    <div class="span8">
    <div class="span4">
    	<a href="#"><img src="assets/facebook.jpg"></a>
    </div>

    <div class="span4">
    	<h4>Or you know... don't</h4>
    </div>

    	<p>something else</p>
    </div>
  </div>
</div>
<!-- Modal -->

  	<div class="span12">
  		<div style="width:810px; text-align:center; border:2px solid; height:200px;">
  			<h2>Hero Image</h2>
  		</div>
  	</div>
<!-- Be the Gift That Gives Back -->
	<div class="span12">
		<h2 style="text-align:center;">Be the Gift That Gives Back</h2>
		<p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	</div>
<div class="span12">

	<hr />
</div>
	<div class="span12">
		<h2 style="text-align:center;">This holiday season I am committed </h2>
			<div class="commit">
				<div class="circle">
					<%=image_tag("circle.png", onmouseover: "this.src='assets/circle2.png'", onmouseout: "this.src='assets/circle.png'", style: "width:100px;")   %>
						<i rel="tooltip" title="info button popup" class="icon-info-sign"></i>
				</div>
				<a>Gift of Donation</a>
				<a class="btn">COMMIT</a>
			</div>

			<div class="commit">
				<div class="circle">
					<%=image_tag("circle.png", onmouseover: "this.src='assets/circle2.png'", onmouseout: "this.src='assets/circle.png'", style: "width:100px;")   %>
						<i rel="tooltip" title="info button popup" class="icon-info-sign"></i>
				</div>
				<a>Gift of Time</a><br />
				<a class="btn">COMMIT</a>
			</div>

			<div class="commit">
				<div class="circle">
					<%=image_tag("circle.png", onmouseover: "this.src='assets/circle2.png'", onmouseout: "this.src='assets/circle.png'", style: "width:100px;")   %>
						<i rel="tooltip" title="info button popup" class="icon-info-sign"></i>
				</div>
				<a>Gift of Good</a>
				<a class="btn">COMMIT</a>
			</div>

			<div class="commit">
				<div class="circle">
					<%=image_tag("circle.png", onmouseover: "this.src='assets/circle2.png'", onmouseout: "this.src='assets/circle.png'", style: "width:100px;")   %>
						<i rel="tooltip" title="info button popup" class="icon-info-sign"></i>
				</div>
				<a>Gift of Warmth</a>
				<a class="btn">COMMIT</a>
			</div>
			<div class="commit">
				<div class="circle">
					<%=image_tag("circle.png", onmouseover: "this.src='assets/circle2.png'", onmouseout: "this.src='assets/circle.png'", style: "width:100px;")   %>
						<i rel="tooltip" title="info button popup" class="icon-info-sign"></i>
				</div>
				<a>Gift of 2014</a>
				<a class="btn">COMMIT</a>
			</div>
	</div>

	<div class="span12">
		<hr />
	</div>



<div class="span12">
<!-- Post Submit Start -->

<script type="text/javascript" language="javascript">
function step2() {
        document.getElementById('step1_container').style.display = 'none';
        document.getElementById('step2_container').style.display = 'block';
}
</script>


<!-- Original Content -->
<div class="span12" id="step1_container">
		<div class="span8" >
			<h2 style="text-align:center;">Let us know who you are:</h2>
			<input type="text" placeholder="Your Email Address">
		</div>
		<div class="span8" style="margin-left:300px;">
			<p style="font-size:10px; float:left;">By click "submit" you are agreeing to <br />Case Foundation Terms and Conditions</p>
			<input style="float:left;" class="btn" type="button" onclick="javascript:step2();" value="Submit"/>
		</div>

</div>
<!-- Original Content -->

<!-- Content to be replaced-->
<div class="span12" id="step2_container" style="display: none;">

	<h2 style="text-align:center;">Thanks for being a part!</h2>
			<p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<a class="btn" style="width:200px;">TAKE ACTION NOW!</a>
<hr />


<div class="span12">

<h4>Make Tuesdays matter this holiday season!</h4>
<h4>Share the word with others!</h4>

</div>

<div class="span12">

<div class="social" style="margin-left:200px;">
	<img src="assets/facebook2.png">

</div>

<div class="social">
	<img src="assets/twitter.png">

</div>

<div class="social">
	<img src="assets/pinterest.png">

</div>

</div>

<div class="span12">

<img src="assets/video.png">

</div>

<div class="span12" style="margin-bottom:60px;">

<p>To learn more visit us at <a href="#">Casefoundation.org</a></p>

</div>

</div>
<!-- Content to be replaced -->

<!-- Post Submit End -->
</div>


</div>
</body>
</html>